/* **************************************************************************
   * AUTHOR     : Brionna Spencer
   * ASSIGNMENT : cis355 Prog0*
   * URL        : https://csis.svsu.edu/~blspence/cis355/css/cis355.css
   * OVERVIEW   : CSS for all cis355/*
   ************************************************************************** */

/* element: html **************************************************************/
html {
    color: #FFFFFF;                    /* white */
    font-family: "Lato", sans-serif;
    margin: auto 10%;                  /* vertical | horizontal */
}

/* element: footer ************************************************************/
footer {
    width: 100%;
    background-color: #1D1D1D;
    color: #FFFFFF;
    float: left;
}

/* element: input *************************************************************/
input {
    color: #000000 !important;
}

/* element: iframe ************************************************************/
iframe {
    height: 100%;
    width: 100%;
    float: left;
}

/* class: Wrap ****************************************************************/
.wrap {
    word-wrap: break-word;
}

/* class: Button **************************************************************/
.buttonClass {
    color: #FFFFFF;
    background-color: #286090;         /* blue */
    border-color: #204D74;             /* dark blue */
}

/* class: Gray Background Color ***********************************************/
.gray-background-color {
    background-color: #1D1D1D;
}

/* class: Serif Font **********************************************************/
.serif-font {
    font-family: "Gentium Book Basic", serif;
    font-size: 1.15em;
}

/* class: Content *************************************************************/
.content {
    border-top: solid 8px #B3B3B3;     /* light gray */
    color: #FFFFFF;
}

/* MEDIA QUERY ************************************************************** */
/* Mobile Devices (Portrait Mode)
   Note: this media query was tested on my Nexus 5X phone and worked properly.
*/
@media only screen and (max-device-width: 480px) {
    html {
        margin: auto 5%;              /* vertical | horizontal */
    }
}
